* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e8e8e8;
  font-family: inter;
}
ul,
p {
  margin: 0;
  padding: 0;
}
.main-container {
  height: 100vh;
  padding: 4.5vh 4%;
}
.ai-icon {
  position: absolute;
  bottom: -30px;
  left: -20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0d6efd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.chat-box {
  width: 51%;
  max-width: 600px;
  margin: 6.5vh auto 0;
}
.chat-scroll {
  width: 95%;
  margin: 0 2%;
}
.chat-container {
  width: 100%;
  margin-top: 18px;
  background-color: #fff;
  border-radius: 15px;
  padding: 2vh 2% 1vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: clamp(25vh, 240vw, 65vh);
}
textarea:focus {
  border: 2px solid blue;
  outline: 0;
}
.border-primary {
  width: 82%;
  height: 5vh;
  border-radius: 10px;
  font-size: 14px;
  padding: 2px;
}

@media (max-width: 1024px) {
  .chat-box {
    width: 80%;
    margin: 5.5vh auto 0;
  }
  .ai-icon {
    bottom: -28px;
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 768px) {
  .chat-box {
    width: 92%;
  }
  .main-container {
    padding: 4.5vh 0px;
  }
}

@media (max-width: 600px) {
  .chat-scroll ul {
    gap: 50px !important;
  }
  .chat-scroll li {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .border-primary {
    width: 75%;
  }
}
