* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e8e8e8;
  font-family: inter;
}
ul,
p {
  margin: 0;
  padding: 0;
}
.ai-icon {
  position: absolute;
  bottom: -40px;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0d6efd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

/* 스크롤바 숨기기 */
.chat-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.chat-scroll {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
  overscroll-behavior: contain;
}
textarea:focus {
  border: 2px solid blue;
  outline: 0;
}
@media (max-width: 600px) {
  .chat-box {
    width: 90vw !important;
  }
  .chat-scroll ul {
    gap: 50px !important;
  }
  .chat-scroll li {
    width: 100% !important;
  }
}
