* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e8e8e8;
  font-family: inter;
}
ul,
p {
  margin: 0;
  padding: 0;
}
.ai-icon {
  position: absolute;
  bottom: -40px;
  left: -20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url("../assets/ai-icon.png");
  background-size: cover;
}
/* 스크롤바 숨기기 */
.chat-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.chat-scroll {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
textarea:focus {
  border: 2px solid blue;
  outline: 0;
}
