.white-background {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-weight: 800;
  color: #2564f8;
  margin-bottom: 30px
}