.white-background {
  background-color: white;
  min-height: 600px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  font-weight: 800;
  color: #2564f8;
  margin-bottom: 30px
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d
}