h2 {
  text-align: center;
  font-weight: 800;
  color: #2564f8;
  margin-bottom: 30px
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(95, 103, 110, 0.75);
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 0.9rem;
}

.or-divider::before {
  margin-right: 10px;
}

.or-divider::after {
  margin-left: 10px;
}

.or-divider::before,
.or-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(95, 103, 110, 0.5);
}

.custom-label {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #5f676e
}

.required-star {
  color: red;
  margin-left: 4px;
}