body {
  min-height: 100%;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #e9e9e9;
}

.responsive-container {
  min-height: 100vh;
  padding: 4.5vh 4%;
}

.rounded-4 {
  width: 51%;
  max-width: 600px;
  min-width: 280px;
  background-color: #fff;
  margin: 60px auto 0;
  min-height: 83vh;
  max-height: 85vh;
  border-radius: 10px;
  padding: 1vh 0;
  overflow-y: auto;
  margin-top: 6.5vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rounded-0 {
  font-size: 0.8em;
}

.nav-link-gray {
  font-size: 0.9em !important;
  color: #d3d3d3;
}

.nav-link-blue {
  font-size: 0.9em !important;
  color: #d3d3d3;
}

.form-control::placeholder {
  color: #8f8f8f;
}

@media (max-width: 1024px) {
  .responsive-container {
    padding: 3.5vh 0%;
  }
  .rounded-4 {
    width: 80%;
    min-height: 82vh;
  }
  .nav-link-gray {
    font-size: 1.5vw !important;
  }

  .nav-link-blue {
    font-size: 1.5vw !important;
  }
}

@media (max-width: 768px) {
  .rounded-4 {
    width: 92%;
  }
  .nav-link-gray {
    font-size: 2vw !important;
  }

  .nav-link-blue {
    font-size: 2vw !important;
  }
}

@media (max-width: 480px) {
  .responsive-container {
    padding: 1.5vh 4%;
  }
  .rounded-4 {
    width: 100%;
    min-height: 83vh;
  }
  .nav-link-gray {
    font-size: 2.8vw !important;
  }

  .nav-link-blue {
    font-size: 2.8vw !important;
  }
}
